#gallery {

}

.gallery-column-left {
  margin-top: 34px;
  width: 39.5%;
  height:440px;
  float: left;
  display: inline-block;
  margin-left: 7.5%;
  overflow-y: auto;
  overflow-x: auto;
  direction: ltr;
}

.gallery-column-right {
  margin-top: 34px;
  width: 45.5%;
  height:440px;
  float: left;
  display: inline-block;
  overflow-y: auto;
}

td {
  height: 144.667px;
  padding: 0;
  padding-right: 3px
}

td img {
  height: 100%;
  width: 100%;
}

.right-img img {
  width: 100%;
  height: ;
}