@media screen and (max-width: 1200px) {

	#vanilla-slideshow .vanilla-slide img {
		width: 1200px !important;
		float: left;
	}



#vanilla-slideshow .vanilla-slide {
	background-size: auto 550px !important;
	width:auto;
	overflow: hidden;
}
	.menu {
		display:block !important;
	}

	#schedule {
		background-size: auto 850px;
		background-position: 50% 25%;

	}

	.banner {
		background-size: auto 150px;



	}

		.banner h1 {
		font-size: 65px;
	}



.top-nav ul {
		float: right !important;
		margin: 0;
		background:#ccc;
		box-shadow: 1px 1px 5px rgba(0, 0 , 0, 0.5);
		width: 105px;
		right:0;
		margin-top:100px;
		transition: all .2s ease;
		max-width: 0;
		overflow: hidden;
		padding-top: 5px;
		padding-bottom: 5px;

}
.top-nav ul.active {
	display:block;
	max-width: 230px;
	padding-top: 5px;
	padding-bottom: 5px;
}


.top-nav ul li {
	display: block !important;
	height: 45px;
	float: left;
	margin: 10px;
	margin-top: 0;
}
.top-nav ul li a {
	font-size: 25px;
	float:left;
	text-align: justify;
	height:45px !important;


}

.border-bottom {
	display:none;
}






		.banner img {
		display:none;
	}
		.banner {
			background: $brown;
			width:100%;
			height:150px;
		}

	.last-year {
		display:none !important;
	}

}


@media screen and (max-width: 800px) {


	#roster .column li {
		width: 100%;

	}

	.column-wrapper {
		width:auto;
	}

	.time-date {
		margin:0;
	}



	#roster .column {
		float:none !important;
		display:block !important;
		width:100% !important;

	}
	#roster {
		height:auto;
	}

	#vanilla-slideshow .vanilla-slide img {
		width: 800px !important;
		float: left;
	}

	.faded {
		font-size: 30px !important;
	}

	.faded span {
		font-size:30px !important;
	}

	.top-nav h1 {
		margin: 24px auto 0 auto;
		width:100%;
		text-align: center;
	}

	.last-year {
		margin: 0;
	}

	.schedule-container {
		font-size: 12px;

	}

	.last-year {
		display:none !important;
	}

	#opener h1 {
		font-size: 55px !important;
	}

	#opener h1 span {
		font-size: 25px !important;
	}



}








	@media screen and (max-width: 600px) {

	.footer-container {
		width: 100%;
		height: 200px;
	}

	.footer-container ul {
		margin: 0 auto !important;
		text-align: center;
		float: none;
		width: 100% !important;
		padding: 0 0 3px 0;
		-webkit-transform:translateY(-125%);
		font-size: 15px;

	}

	.social-media {
		float:none !important;
		margin:0 auto !important;
		width: 100% !important;
		text-align: center;
		top:20%;
		-webkit-transform:translateY(-75%) !important;
	}

	.social-media img {
		float:none !important;
		margin: 0 !important;
	}



	.bounce img {
		width:150px !important;
	}

	.this-year {
		display:none !important;
	}

	.banner h1 {
		font-size: 45px !important;
	}


	#schedule h1 {
		font-size: 15px;
	}

	#roster {
		text-align: none;
		padding:150px 0;
	}


	#roster .column li {
		width: 100%;

	}

	.column-wrapper {
		width:auto;
	}



	#roster .column {
		float:none !important;
		display:block !important;
		width:100% !important;

	}
	#roster {
		height:auto;
	}

	.top-nav h1 {
		display:none;
	}

	.last-year {
		display:none !important;
	}

	.schedule-container {
		font-size: 12px;

	}

	.time-date {
		border:none !important;
	}

	#opener h1 {
		font-size: 35px !important;
	}

	#opener h1 span {
		font-size: 20px !important;
	}

	#contact {
		height: 325px;
	}

	



}