body { margin: 0; padding: 0; max-height: 100%; }

.top-nav { position: fixed; background: rgba(255, 255, 255, 0.7); margin: 0; height: 100px; width: 100%; border-bottom: rgba(209, 209, 209, 0.5) 1px solid; z-index: 1; }
.top-nav ul { list-style: none; margin: 0; width: 100%; padding: 33px 0; position: fixed; }
.top-nav ul li { display: inline-block; text-align: center; float: right; border-right: 1px rgba(209, 209, 209, 0.5) solid; }
.top-nav ul li a { font-size: 14px; text-decoration: none; color: black; display: block; width: 100px; margin: auto 0; padding: 10px 0; box-sizing: border-box; font-family: gill sans; font-weight: lighter; }
.top-nav li:first-child a { border-right: none; }

.main-container { position: relative; height: 500px; width: 100%; text-align: center; padding: 200px 0; z-index: 0; }
.main-container h1 { font-family: gill sans; font-weight: bolder; font-size: 50px; width: 500px; margin: 0 auto; }
