  <div class="main-container" id="contact">
    <h3>Email ECHS Lacrosse<h3>
    <div class="bounce container">
    <a href="mailto:echswildcatlax@gmail.com"><img src="mail.png"></a>
    </div>
  </div>