  <div class="main-container" id="contact">
    <h3>Email Coach Donovan<h3>
    <div class="bounce container">
    <a href="mailto:donovan.marinez@gmail.com"><img src="mail.png"></a>
    </div>
  </div>