<div class="footer-container">
	<ul>
		<li>EL CAMINO HIGH SCHOOL WILDCATS</li>
		<li>400 Rancho Del Oro Dr, Oceanside, CA 92057</li>
	</uL>

	<div class="social-media">
		<a href="https://www.facebook.com/ECHSLacrosse/" target="_blank"><img src="/facebook.png"></a>
	</div>

</div>