<div class="main-container" id="gallery">
  <h1>Gallery</h1>
  <div class="gallery-column-left">
    <table style="width:100%" class="gallery-table">
      <tr>
        <td><a href="#"><img src="lax1.jpg"></a></td>
        <td><a href="#"><img src="lax2.jpg"></a></td>
        <td><a href="#"><img src="lax3.jpg"></a></td>
      </tr>
      <tr>
        <td><a href="#"><img src="lax4.jpg"></a></td>
        <td><a href="#"><img src="lax5.jpg"></a></td>
        <td><a href="#"><img src="lax6.jpg"></a></td>
      </tr>
      <tr>
        <td><a href="#"><img src="lax7.jpg"></a></td>
        <td><a href="#"><img src="lax8.jpg"></a></td>
        <td><a href="#"><img src="lax9.jpg"></a></td>
      </tr>
    </table>
  </div>
  <div class="gallery-column-right">
    <div class="right-img"></div>
  </div>
</div>
