<nav class="top-nav">
    <ul class="top-menu">
      <li><div class="border-bottom"><a href="#main-container">Contact</a></div></li>
      <li><div class="border-bottom"><a href="#">Roster</a></div></li>
      <li><div class="border-bottom"><a href="#">Gallery</a></div></li>
      <li><div class="border-bottom"><a href="#">Schedule</a></div></li>
    </ul>
</nav>
  <div class="main-container">
    <h1>El Camino Lacrosse</h1>
    <a href="#">About Us</a>
  </div>
  <div class="main-container">
    <h1>El Camino Lacrosse</h1>
    <a href="#">About Us</a>
  </div>
  <div id="main-container">
    <h1>El Camino Lacrosse</h1>
    <a href="#">About Us</a>
  </div>