<nav class="top-nav">
 <img src="/elcamino-logo.png" class="logo">
 <img src="/elcamino-logo-title.png" class="title">
    <ul class="top-menu">
      <li><a href="#contact">Contact</a><div class="border-bottom"></div></li>
      <li><a href="#roster">Roster</a><div class="border-bottom"></div></li>
      <li><a href="#gallery">Gallery</a><div class="border-bottom"></div></li>
      <li><a href="#schedule">Schedule</a><div class="border-bottom"></div></li>
    </ul>
</nav>

<div id="main-wrapper">
  <%= erb :"schedule" %>
  <div class="main-container" id="gallery">
    <h1>Gallery</h1>
  </div>
  <div class="main-container" id="roster">
    <h1>2015 Wildcat Roster</h1>
  <div class="column-wrapper">
    <div class="column fadein">
      <h2>Defense</h2>
      <ul class="defense fadein"> 
        <li>Donovan Marinez</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Attack</h2>
      <ul class="attack fadein">
        <li>Adam Sandler</li>
        <li>Chris Farley</li>
        <li>Max McGee</li>
        <li>Berry Happy</li>
        <li>Peach Combler</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Midfield</h2>
      <ul class="midfield fadein">
        <li>Chris Farley</li>
        <li>Max McGee</li>
        <li>Berry Happy</li>
        <li>Peach Combler</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Goalies</h2>
      <ul class="goalies fadein">
        <li>David Spade</li>
      </ul>
    </div>
  </div>
  </div>
  <div class="main-container" id="contact">
    <h3>Email Coach Donovan<h3>
    <div class="bounce container">
    <a href="mailto:donovan.marinez@gmail.com"><img src="mail.png"></a>
    </div>
  </div>

</div>