<nav class="top-nav">
    <ul class="top-menu">
      <li><a href="#main-container">Contact</a><div class="border-bottom"></div></li>
      <li><a href="#">Roster</a><div class="border-bottom"></div></li>
      <li><a href="#">Gallery</a><div class="border-bottom"></div></li>
      <li><a href="#">Schedule</a><div class="border-bottom"></div></li>
    </ul>
</nav>
  <div class="main-container">
    <h1>El Camino Lacrosse</h1>
    <a href="#">About Us</a>
  </div>
  <div class="main-container">
    <h1>El Camino Lacrosse</h1>
    <a href="#">About Us</a>
  </div>
  <div id="main-container">
    <h1>El Camino Lacrosse</h1>
    <a href="#">About Us</a>
  </div>