<nav class="top-nav">
 <img src="/elcamino-logo.png" class="logo">
 <img src="/elcamino-logo-title.png" class="title">
    <ul class="top-menu">
      <li><a href="#contact">Contact</a><div class="border-bottom"></div></li>
      <li><a href="#roster">Roster</a><div class="border-bottom"></div></li>
      <li><a href="#gallery">Gallery</a><div class="border-bottom"></div></li>
      <li><a href="#schedule">Schedule</a><div class="border-bottom"></div></li>
    </ul>
</nav>

<div id="main-wrapper">

  <%= erb :schedule %>
  <%= erb :gallery %>
  <%= erb :roster %>
  <%= erb :contact %>

</div>