<nav class="top-nav">
    <ul class="top-menu">
      <li><div class="border-bottom"><a href="#contact">Contact</a></div></li>
      <li><div class="border-bottom"><a href="#roster">Roster</a></div></li>
      <li><div class="border-bottom"><a href="#gallery">Gallery</a></div></li>
      <li><div class="border-bottom"><a href="#schedule">Schedule</a></div></li>
    </ul>
</nav>

<div id="main-wrapper">

  <div class="main-container" id="schedule">
    <h1>Schedule</h1>
  </div>
  <div class="main-container" id="gallery">
    <h1>Gallery</h1>
  </div>
  <div class="main-container" id="roster">
    <h1>Roster</h1>
  </div>
  <div class="main-container" id="contact">
    <h1>Contact</h1>
  </div>

</div>