<div class="main-container" id="roster">
    <h1>2016 Wildcat Roster</h1>
  <div class="column-wrapper">
    <div class="column fadein">
      <h2>Defense</h2>
      <ul class="defense fadein">
        <li>TBD</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Attack</h2>
      <ul class="attack fadein">
        <li>TBD</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Midfield</h2>
      <ul class="midfield fadein">
        <li>TBD</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Goalies</h2>
      <ul class="goalies fadein">
        <li>TBD</li>
      </ul>
    </div>
  </div>
  </div>