<div class="main-container" id="roster">
    <h1>2015 Wildcat Roster</h1>
  <div class="column-wrapper">
    <div class="column fadein">
      <h2>Defense</h2>
      <ul class="defense fadein">
        <li>Donovan Marinez</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Attack</h2>
      <ul class="attack fadein">
        <li>Adam Sandler</li>
        <li>Chris Farley</li>
        <li>Max McGee</li>
        <li>Berry Happy</li>
        <li>Peach Combler</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Midfield</h2>
      <ul class="midfield fadein">
        <li>Chris Farley</li>
        <li>Max McGee</li>
        <li>Berry Happy</li>
        <li>Peach Combler</li>
      </ul>
    </div>
    <div class="column fadein">
      <h2>Goalies</h2>
      <ul class="goalies fadein">
        <li>David Spade</li>
      </ul>
    </div>
  </div>
  </div>