<div class="main-container" id="schedule">
    <h1><strong>2016</strong><br><span>Wildcat's Lacrosse Schedule<span></h1>
    <div class="schedule-container">

      <ul class="event">
        <li>
          <img src="vistamurrieta.png">

          <div class="time-date">
            <h3>MONDAY | March 7, 2016</h3>
            <h2>Vista Murrieta</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3>N/A</h3>
          </div>
          <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
        <img src="olympian.png">
          <div class="time-date">
            <h3> SATURDAY | March 12, 2016</h3>
            <h2>Olympian</h2>  
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3>N/A</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
         <li>
          <img src="mtcarmel.jpg">
          <div class="time-date">
            <h3>WEDNESDAY | March 16, 2016</h3>
            <h2>Mt. Carmel</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>L</span>9 - 22</h3>
          </div>
          <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
          <img src="Chap-Puma.jpg">
          <div class="time-date">
            <h3>FRIDAY | March 18, 2016</h3>
            <h2>Chapparal</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3>N/A</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
        <img src="miramesa.png">
          <div class="time-date">
            <h3>TUESDAY | March 22, 2016</h3>
            <h2>Mira Mesa</h2>  
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3>N/A</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
          <img src="ljcd.jpg">
          <div class="time-date">
            <h3>THURSDAY | March 24, 2016</h3>
            <h2>La Jolla Country Day</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>L</span>10 - 11</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
          <img src="sage.gif">
          <div class="time-date">
            <h3>MONDAY | March 28, 2016</h3>
            <h2>Sage Creek</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3>N/A</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
          <img src="sandieguito.jpeg">
          <div class="time-date">
            <h3>WEDNESDAY | March 30, 2016</h3>
            <h2>San Dieguito</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>W</span>13 - 7</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
          <img src="missionviejo.jpg">
          <div class="time-date">
            <h3>WEDNESDAY | April 6, 2016</h3>
            <h2>Mission Viejo</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>L</span>4 - 10</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
          <img src="fallbrook.jpg">
          <div class="time-date">
            <h3>MONDAY | April 18, 2016</h3>
            <h2>Fallbrook</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>L</span>2 - 5</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>

        </li>
        <li>
          <img src="valleycenter.jpg">
          <div class="time-date">
            <h3>WEDNESDAY | April 20, 2016</h3>
            <h2>Valley Center</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>L</span>4 - 11</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
          <img src="staugustine.jpg">
          <div class="time-date">
            <h3>MONDAY | April 25, 2016</h3>
            <h2>St. Augustine</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3>N/A</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
        <li>
          <img src="delnorte.jpg">
          <div class="time-date">
            <h3>FRIDAY | April 29, 2016</h3>
            <h2>Del Norte</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>W</span>6 - 4</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
         <li>
          <img src="sandieguito.jpeg">
          <div class="time-date">
            <h3>TUESDAY | May 3, 2016</h3>
            <h2>San Dieguito</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>W</span>13 - 7</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
            <li>
          <img src="fallbrook.jpg">
          <div class="time-date">
            <h3>FRIDAY | May 6, 2016</h3>
            <h2>Fallbrook</h2>
          </div>
          <div class="last-year">
             <h2><strong>2015</strong> SCORE</h2>
             <h3><span>L</span>2 - 5</h3>
          </div>
           <div class="this-year">
              <h2><strong>2016</strong> SCORE</h2>
              <h3>TBD</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>