  <div class="main-container" id="schedule">
    <h1><strong>2016</strong><br>Wildcat's Lacrosse Schedule</h1>
    <div class="schedule-container">
      <ul class="event">
        <li>
          <img src="vistamurrieta.png">
        </li>
        <li>
        <img src="olympian.png">
        </li>
        <li>
          <img src="Chap-Puma.jpg">
        </li>
        <li>
          <img src="ljcd.jpg">
        </li>
        <li>
          <img src="sage.gif">
        </li>
        <li>
          <img src="sandieguito.jpeg">
        </li>
        <li>
          <img src="missionviejo.jpg">
        </li>
        <li>
          <img src="fallbrook.jpg">
        </li>
        <li>
          <img src="valleycenter.jpg">
        </li>
        <li>
          <img src="staugustine.jpg">
        </li>
        <li>
          <img src="delnorte.jpg">
        </li>
      </ul>
    </div>
  </div>